<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
</script>
    <link rel="stylesheet" href="/stylesheets/css.css" type="text/css" />
    <title>Tough Verse - About</title>
  </head>
    <body >
      <div class="row">
        <nav class="top-bar" data-topbar>
            <ul>
              <li><a href="/about">about</a></li>
              <li><a href="/links">links</a></li>
              <li><a href="/verse">connect</a></li>
            </ul>
        </nav>
      </div>

     <h1><a href="/">TOUGH VERSE</a></h1>

          <% array = ["Jesus wept.", "Then Jesus said to his disciples, 'Whoever wants to be my disciple must deny themselves and take up their cross and follow me.'", "A new command I give you: Love one another. As I have loved you, so you must love one another.", "Do not let your hearts be troubled. Trust in God; trust also in me.", "Do not be anxious about tomorrow, for tomorrow will be anxious for itself. Let the day's own trouble be sufficient for the day.", "So I say to you, Ask and it will be given to you; search, and you will find; knock, and the door will be opened for you.", "If you want to be perfect, go, sell your possessions and give to the poor, and you will have treasure in heaven.", "For God so loved the World that he gave his only Son, that whoever believes in him should not perish but have eternal life." ] %>
          <center><p class="btn" ><%= array.sample %></p></center>
    </body>
    <script type="text/javascript" src="/javascripts/myjavascript.js"></script>

</html>

<h5 style="text-align: center; font-size: 22px; margin-bottom: -20px; "> Tough Verse gives users a random verse from the Bible. The verses were selected for their challenging nature.</h5>

<style type="text/css">
#wrap {
  margin-top: 35px;
}
#left_col {
   float:left;
   width:300px;
   margin-left: 200px;
}
#right_col {
   float:right;
   width:300px;
   margin-right: 100px;
}
</style>

<div id="wrap">
    <div id="left_col" >
        <h6 style="text-align: left; font-size: 18px; margin-top: 10px;">This application incorporates the following:
  <ul>
    <li>Google Maps API on the Connect page</li>
    <li>AJAX for refreshing the verses</li>
    <li>jQuery for the fade-in, fade-out feature</li>
    <li>Some cool CSS</li>
    <li>Built on Sinatra</li>
  </ul>
<br>
<br>
</h6>
    </div>
    <div id="right_col">
        <img src="https://avatars0.githubusercontent.com/u/6404876?s=460" alt="some_text" width="140" height="140" id="my_pic" style="border-radius:10px;">

  <h6>Created by Jacob Maude</h6>
  <div style="padding-left: 20px;">
    <h6><a href="https://github.com/Modsky1" target="_blank"  style="text-decoration:none; color: #009b95; size: 16px;">Github</a>
   <h6><a href="https://www.linkedin.com/in/jacobmaude" target="_blank" style="text-decoration:none; color: #009b95; size: 16px;" >LinkedIn</a></h6>
  </div>


    </div>
</div>