<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/css.css" type="text/css" />
    <title>Tough Verse</title>
  </head>
    <body >
    <div class="row">
          <nav class="top-bar" data-topbar>
              <ul>
                <li><a href="/about">about</a></li>
                <li><a href="/links">links</a></li>
                <li><a href="/verse">connect</a></li>
              </ul>
          </nav>
        </div>
      <h1>TOUGH VERSE</h1>

        <div id="button">
          <a class="btn" href="#" id="toggleweight">Click.</a>
        </div>
        <div id = "button2">
          <% array = ["Then Jesus said to his disciples, 'Whoever wants to be my disciple must deny themselves and take up their cross and follow me.'", "A new command I give you: Love one another. As I have loved you, so you must love one another.", "Do not let your hearts be troubled. Trust in God; trust also in me.", "Do not be anxious about tomorrow, for tomorrow will be anxious for itself. Let the day's own trouble be sufficient for the day.", "So I say to you, Ask and it will be given to you; search, and you will find; knock, and the door will be opened for you.", "If you want to be perfect, go, sell your possessions and give to the poor, and you will have treasure in heaven.", "For God so loved the World that he gave his only Son, that whoever believes in him should not perish but have eternal life." ] %>
          <% array.each do |display| %>
          <p class="btn" style="display: none"><%= display %></p>
         <% end %>
        </div>
    </body>
    <script type="text/javascript" src="/javascripts/myjavascript.js"></script>

</html>
